<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-firebase-crashlytics" version="1.2.0">
  <name>Cordova Firebase Crashlytics Plugin</name>
  <description>Google Firebase Crashlytics</description>
  <license>MIT</license>
  <keywords>cloud, crash, reporting</keywords>

  <engines>
      <engine name="cordova" version=">=7.0.0" />
      <engine name="cordova-android" version=">=8.0.0" />
      <engine name="cordova-plugman" version=">=4.2.0" />
      <engine name="cordova-ios" version=">=5.0.0" />
  </engines>

  <hook type="after_plugin_install" src="scripts/after_plugin_add.js" />
  <hook type="after_platform_add" src="scripts/after_plugin_add.js" />
  <hook type="before_plugin_uninstall" src="scripts/before_plugin_rm.js" />

  <platform name="browser">
    <js-module src="www/browser/crashlytics.js" name="FirebaseCrashlytics">
      <clobbers target="FirebaseCrashlytics"/>
    </js-module>
  </platform>

  <platform name="android">
    <js-module src="www/crashlytics.js" name="FirebaseCrashlytics">
      <clobbers target="FirebaseCrashlytics"/>
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="FirebaseCrashlytics">
        <param name="android-package" value="uk.co.reallysmall.cordova.plugin.firebase.crashlytics.FirebaseCrashlyticsPlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <preference name="ANDROID_FIREBASE_ANALYTICS_VERSION" default="17.4.3"/>
    <preference name="ANDROID_FIREBASE_CRASHLYTICS_VERSION" default="17.1.0"/>
    <framework src="com.google.firebase:firebase-analytics:$ANDROID_FIREBASE_ANALYTICS_VERSION"/>
    <framework src="com.google.firebase:firebase-crashlytics:$ANDROID_FIREBASE_CRASHLYTICS_VERSION"/>
    <framework src="firebase-crashlytics.gradle" custom="true" type="gradleReference"/>

    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/FirebaseCrashlyticsPlugin.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/ActionHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/CrashHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/LogPriorityHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/LogHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/LogExceptionHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/SetStringHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/SetBoolHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/SetDoubleHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/SetFloatHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/SetIntHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/SetUserIdentifierHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/LogErrorHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firebase/crashlytics/InitialiseHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firebase/crashlytics"/>
  </platform>

  <platform name="ios">
    <js-module src="www/crashlytics.js" name="FirebaseCrashlytics">
      <clobbers target="FirebaseCrashlytics"/>
    </js-module>

    <config-file target="config.xml" parent="/*">
      <feature name="FirebaseCrashlytics">
        <param name="ios-package" value="FirebaseCrashlyticsPlugin" onload="true"/>
      </feature>
    </config-file>

    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods use-frameworks="true">
        <pod name="FirebaseCrashlytics"  />
        <pod name="FirebaseAnalytics" />
      </pods>
    </podspec>

    <header-file src="src/ios/FirebaseCrashlyticsPlugin.h"/>
    <source-file src="src/ios/FirebaseCrashlyticsPlugin.m"/>
  </platform>

</plugin>
